body > * {
    margin-bottom: 30px;
}

body > *:last-child {
    margin-bottom: 0px;
}


table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.search-bar {
    justify-content: center;
    font-size: 14px;
    width: 300px;
    height: 30px;
    border-radius: 12px;
    padding: 0 10px
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-items .autocomplete-active {
    background-color: #e9e9e9;
}

.selected-tableV4-row {
    background-color: #bee9ff;
}

.selected-tableV4-row:hover {
    background-color: #abd0e3;
}

table > tr:hover {
    background-color: #e4e4e4;
}

td > input {
    width: 80px;
    text-align: center;
}

.straightTable {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 18px;
}
.straightTable th, .straightTable td {
  border: 5px solid black;
  padding: 12px;
  text-align: left;
}
.straightTable th {
  font-weight: bold;
}
.straightTable caption {
  caption-side: top;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.foodButton {
  background-color: rgba(255, 0, 0, 0.10);
  cursor: pointer;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.vega-bindings {
    display: flex;
    gap: 50px;
    justify-content: center;

}