
#popularity_correlation_chart {
    padding-left: 20%
}
#explicit_chart {
    padding-left: 20%;
    padding-bottom: 5%;
}
#tempo_length_plot {
    padding-left: 15%;
    padding-bottom: 5%;
}

.vis-heading {
    display: block;
    text-align: center;
}

#artists_radar_chart {
    padding-left:20%
}

#song_radar_chart {
    padding-left: 20%
}

.autocomplete {
      position: relative;
      display: block;
      padding-left: 20%;
    }
    .autocomplete-items {
      position: absolute;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      top: 100%;
      left: 0;
      right: 0;
    }
    .autocomplete-items div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid #d4d4d4;
    }
    .autocomplete-items div:hover {
      background-color: #e9e9e9;
    }

    .autocompleteTracks {
      position: relative;
      display: inline-block;
    }
    .autocomplete-items {
      position: absolute;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      top: 100%;
      left: 0;
      right: 0;
    }
    .autocomplete-items div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid #d4d4d4;
    }
    .autocomplete-items div:hover {
      background-color: #e9e9e9;
    }
